body {
  font-family: Tahoma, Arial;
  text-align: center;
  background: #f5f5f5;
}

canvas {
  background: white;
  border-radius: 50%;
  margin: 10px auto;
}

.inputs input {
  width: 60px;
  font-size: 16px;
  margin: 5px;
}

button {
  font-size: 16px;
  padding: 6px 14px;
  margin: 5px;
  cursor: pointer;
}

#message {
  font-size: 18px;
  margin-top: 10px;
}
